#discoverySection {
  width: inherit;
  height: inherit;

  .forceDirectedGraph {
    .nodes {
      transform: translate(0px, -30px);
    }
    .links {
      transform: translate(0px, -30px);
    }

    .links line {
      stroke: #ccc;
      stroke-opacity: 0.6;
    }

    .nodes circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }
  }

  .processFlow{
   text {
        font-weight: 300;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
        font-size: 14px;
    }

    .node rect {
        stroke: #333;
        fill: #fff;
    }

    .edgePath path {
        stroke: #333;
        fill: #333;
        stroke-width: 1.5px;
    }

    .node text {
        pointer-events: none;
    }
  }
}
