#filterSection {
    height: 100vh;
    padding-left: 5px;
    border-left: 1px solid #ccc;
}

#filters > form {
    float: left;
    margin-top: 25px;

}

.sliders {
    transform: rotate(-90deg);

}

.labels {
    text-align: center
}