.tab {
    float: right;
}

#uploadFunction {
    cursor: pointer;
}

#nav-upload {
    display: none;
}

#nav-upload > ul > li {
    float: right;
}

#nav-search{
    display: none;
    i{
        cursor: pointer
    }
}

#selectSearch{
    position: absolute;
}
