.tab {
    float: right;
}

#uploadFunction {
    cursor: pointer;
}

#navUpload {
    display: none;
}

#navUpload > ul > li {
    float: right;
}

#navSearch{
    display: none;
    i{
        cursor: pointer
    }
}

#selectSearch{
    position: absolute;
}
