<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{ url_for('static', filename='external/vue.js') }}"></script>
    <script src="{{ url_for('static', filename='external/dagre-d3.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/materialize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
</head>
<body onload="drawExample()">
<div id="vueContainer">
    <header>
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">OpenPM</a>
                <ul class="right hide-on-med-and-down">
                    <li id="search"><a href="#"><i class="material-icons">search</i></a></li>
                    <li><a href="#">Statistics</a></li>
                    <li id="upload"><a href="#">Upload</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <div id="nav-upload">
                    <ul class="tabs tabs-transparent row">
                        <li class=" tab col s2">
                            <button v-on:click="ajax" id="submitButton" class="btn waves-effect waves-light disabled">
                                Submit
                            </button>
                        </li>
                        <li id="uploadFunction" class="tab col s2">
                            <form action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data">
                                <div class="file-field input-field">
                                    <div class="btn waves-effect waves-light">
                                        <span>File</span>
                                        <input id="fileInput" type="file" name="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li class="tab col s4">
                            <form>
                                <div class="input-field">
                                    <i class="material-icons prefix">label</i>
                                    <input v-model="label" v-on:keyup.enter="addLabel()" id="icon_prefix" type="text"
                                           class="validate">
                                    <label for="icon_prefix">Label</label>
                                </div>
                            </form>
                        </li>
                        <li class="tab col s4">
                            <form>
                                <div class="input-field">
                                    <i id="inputProcess" class="material-icons prefix">border_color</i>
                                    <input id="inputProcessName" type="text" class="validate">
                                    <label id="labelInputProcessName" for="icon_prefix">Process Name</label>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <div id="nav-search">
                    <ul id="navSearchTab" class="tabs tabs-transparent row">
                        <li class="tab col s7">
                            <div class="input-field">
                                <i class="material-icons prefix">search</i>
                                <input v-model="searchTerm" v-on:keyup.enter="search" id="icon_prefix" type="text"
                                       class="validate">
                                <label for="icon_prefix">Process Name</label>
                            </div>
                        </li>
                        <li class="tab col s1">
                            <i class="material-icons">keyboard_return</i>
                        </li>
                        <li class="tab col s4">
                            <div id="searchResults"></div>
                        </li>
                        <div id="listContainer">
                            <ul>
                                <li v-for="result in searchResults"><a v-on:click="ajaxByFileName">[[result]]</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="row">
            <div class="col s9">
                <div id="processSection">
                    <h4>[[processName]]</h4>
                    <div id="preloader">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="discoverySection"></div>
                </div>
            </div>
            <div class="col s3">
                <div id="filterSection">
                    <div class="section">
                        <h5>Filter Section</h5>
                        <div id="filters" class="container row">
                            <form action="#" class="col s6">
                                <p class="range-field">
                                    <input type="range" class="sliders" id="activityFilter" value="100" min="0"
                                           max="100"/>
                                </p>
                            </form>
                            <form action="#" class="col s6">
                                <p class="range-field">
                                    <input type="range" class="sliders" id="pathFilter" value="100" min="0" max="100"/>
                                </p>
                            </form>
                        </div>
                        <div class="container row labels">
                            <span class="col s6">Activities</span>
                            <span class="col s6">Path</span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Statistics Section</h5>
                        <span>Connected Labels: </span>
                        <div class="row">
                            <div class="col s9">
                                <span v-for="label in labels">#[[label]] </span>
                            </div>
                            <div class="col s3">
                                <span id="removeButton" v-if="labels.length" v-on:click="removeLabel">- 1</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>


</div>

<script type="text/javascript" src="{{ url_for('static', filename = 'js/vue.js') }}"></script>
<!-- Needs to be first -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/d3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/style.js') }}"></script>

<script>
    $(document).ready(function () {
        $('select').material_select();
        $("#fileInput").change(
            function () {
                var text = $("#fileInput").val().split('\\').pop();
                $("#inputProcess").addClass("active");
                $("#labelInputProcessName").addClass("active");
                var inputProcessName = $("#inputProcessName");
                if (inputProcessName.val() === "") {
                    inputProcessName.val(text.slice(0, -4));
                }
                $("#submitButton").removeClass("disabled");
            }
        );
    });
</script>
</body>
</html>